<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true">
    <!-- 타임스탬프 설정 -->
    <timestamp key="timestamp" datePattern="yyyy-MM-dd HH-mm-ssSSS"/>


    <!-- STDOUT 콘솔 Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] [%date] [%level] [%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logstash Appender -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>10.0.1.27:5001</destination> <!-- Logstash가 수신하는 IP와 포트 -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"timedealapp"}</customFields>
        </encoder>
    </appender>

    <!-- HTTP 요청/응답 로거 -->
    <logger name="app-log" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/> <!-- 콘솔 출력 -->
        <appender-ref ref="LOGSTASH"/> <!-- Logstash로 출력 -->
    </logger>

    <!-- 루트 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>
